.all {
  width: 100%;
  height: 16.09333333rem;
  position: relative;
}
.all .box {
  position: absolute;
  left: 0;
  top: 0;
}
.hide {
  display: none;
}
.screen_inUp {
  animation: box_inUp 0.8s ease-out both;
}
.screen_inDown {
  animation: box_inDown 0.8s ease-out both;
}
.screen_outUp {
  animation: box_outUp 0.8s ease-out both;
}
.screen_outDown {
  animation: box_outDown 0.8s ease-out both;
}
@keyframes box_inUp {
  from {
    transform: translateY(-16.09333333rem);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes box_inDown {
  from {
    transform: translateY(16.09333333rem);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes box_outUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-16.09333333rem);
  }
}
@keyframes box_outDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-16.09333333rem);
  }
}
.loading {
  width: 10rem;
  height: 16.09333333rem;
  background: url(../images/loading_bg.png) no-repeat;
  background-size: 10rem auto;
  overflow: hidden;
}
.loading .meat {
  width: 5.24rem;
  height: 3.66666667rem;
  background: url(../images/loading_dpr.png) no-repeat;
  background-size: 5.24rem auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5rem;
}
.loading .meat .qi_left {
  width: 0.30666667rem;
  height: 1.29333333rem;
  background: url(../images/qi_02.png) no-repeat;
  background-size: 0.30666667rem auto;
  position: absolute;
  top: 0rem;
  left: 1.8rem;
  opacity: 0;
  animation: qi1 2.5s linear infinite;
}
.loading .meat .qi_center {
  width: 0.49333333rem;
  height: 2.02666667rem;
  background: url(../images/qi_01.png) no-repeat;
  background-size: 0.49333333rem auto;
  position: absolute;
  top: 0.5rem;
  left: 2.3rem;
  opacity: 0;
  animation: qi2 2.5s linear infinite;
}
.loading .meat .qi_right {
  width: 0.21333333rem;
  height: 0.86666667rem;
  background: url(../images/qi_01.png) no-repeat;
  background-size: 0.21333333rem auto;
  position: absolute;
  top: 0.4rem;
  left: 3.1rem;
  opacity: 0;
  animation: qi3 2.5s linear infinite;
}
.loading .text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  color: #782110;
  font-weight: bold;
  margin-top: 9rem;
}
.loading .text span {
  display: inline-block;
  width: 0.06666667rem;
  height: 0.06666667rem;
  margin-right: 0.1rem;
}
.loading .text span:first-child {
  margin-left: 0.2rem;
  animation: box linear 2s infinite;
}
.loading .text span:nth-child(2) {
  animation: box1 linear 2s infinite;
}
.loading .text span:last-child {
  animation: box2 linear 2s infinite;
}
.loading .num {
  font-size: 0.5rem;
  color: #782110;
  text-align: center;
  font-weight: 600;
}
.index {
  width: 10rem;
  height: 16.09333333rem;
  background: url(../images/bg.png) no-repeat;
  background-size: 16.09333333rem auto;
  margin: 0 auto;
  overflow: hidden;
}
.index .logo {
  width: 1.46666667rem;
  height: 1.24rem;
  background: url(../images/logo.png) center top no-repeat;
  background-size: 1.28rem auto;
  padding-top: 1.3rem;
  color: #782110;
  font-size: 0.2rem;
  text-align: center;
  position: absolute;
  top: 2.5rem;
  left: 3.5rem;
  z-index: 99;
}
.index .text {
  position: absolute;
  top: 5rem;
  left: 0.7rem;
  z-index: 99;
}
.index .text p {
  color: #782110;
  font-size: 0.6rem;
  font-weight: 600;
}
.index .text p:first-child {
  text-indent: 0.3rem;
  background: url(../images/text.png) left center no-repeat;
  background-size: 0.08rem auto;
}
.index .text p:last-child {
  text-indent: 0.8rem;
}
.index .circle {
  width: 19.92rem;
  height: 19.92rem;
  border: 0.02666667rem dashed #b5bc9a;
  border-radius: 100%;
}
.index .circle .circle1 {
  width: 15.54666667rem;
  height: 15.54666667rem;
  border: 0.02631579rem dashed #b5bc9a;
  border-radius: 100%;
  margin: 2.18666667rem auto 0rem;
}
.index .circle .circle1 .circle_1 {
  width: 15.53333333rem;
  height: 15.53333333rem;
  border: 2px dashed rgba(0, 0, 0, 0);
  border-radius: 100%;
  position: relative;
  top: 0rem;
  left: 0rem;
  animation: dong 10s linear infinite;
}
.index .circle .circle1 .cong {
  position: absolute;
  top: 10rem;
  left: -0.4rem;
  width: 2.29333333rem;
  height: 2.29333333rem;
  border: 0.01333333rem dashed #967E62;
  border-radius: 100%;
  animation: dong linear 5s infinite;
}
.index .circle .circle1 .cong .cong_img {
  width: 1.93333333rem;
  height: 1.93333333rem;
  margin: 0.18rem auto 0rem;
  border: 1px solid #967E62;
  background: url(../images/img_cong.png) center center no-repeat;
  background-size: 1.58666667rem auto;
  border-radius: 100%;
}
.index .circle .circle2 {
  width: 10.84rem;
  height: 10.84rem;
  border: 0.03947368rem dashed #967e62;
  border-radius: 100%;
  position: absolute;
  left: 4.58rem;
  top: 4.54rem;
}
.index .circle .circle2 .circle_2 {
  width: 10.84rem;
  height: 10.84rem;
  border: 0.03947368rem dashed rgba(0, 0, 0, 0);
  border-radius: 100%;
  position: relative;
  left: 0rem;
  top: 0rem;
  animation: dong 10s linear infinite;
}
.index .circle .circle2 .circle_2 .tang {
  position: absolute;
  top: 8rem;
  left: 0.2rem;
  width: 2.76rem;
  height: 2.76rem;
  border: 0.01333333rem dashed #967E62;
  border-radius: 100%;
  animation: dong linear 5s infinite;
}
.index .circle .circle2 .circle_2 .tang .tang_img {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #967E62;
  margin: 0.18rem auto 0rem;
  background: url(../images/tang.png) center center no-repeat;
  background-size: 2.21333333rem auto;
  border-radius: 100%;
}
.index .circle .circle2 .circle_2 .jiu {
  position: absolute;
  top: 1rem;
  left: -0.5rem;
  width: 2.62666667rem;
  height: 2.62666667rem;
  border: 0.01333333rem dashed #967E62;
  border-radius: 100%;
  animation: dong linear 5s infinite;
}
.index .circle .circle2 .circle_2 .jiu .jiu_img {
  width: 2.21333333rem;
  height: 2.21333333rem;
  border: 1px solid #967E62;
  margin: 0.20666667rem auto 0rem;
  background: url(../images/jiu.png) center center no-repeat;
  background-size: 1.56rem auto;
  border-radius: 100%;
}
.index .circle .circle2 .circle_2 .rou {
  position: absolute;
  top: 0rem;
  left: 7.5rem;
  width: 2.76rem;
  height: 2.76rem;
  border: 0.01333333rem dashed #967E62;
  border-radius: 100%;
  animation: dong linear 5s infinite;
}
.index .circle .circle2 .circle_2 .rou .rou_img {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #967E62;
  margin: 0.18rem auto 0rem;
  background: url(../images/rou.png) center center no-repeat;
  background-size: 2.22666667rem auto;
  border-radius: 100%;
}
.index .circle .circle2 .circle_2 .jiao {
  position: absolute;
  top: 6rem;
  left: 9.2rem;
  width: 2.42666667rem;
  height: 2.42666667rem;
  border: 0.01333333rem dashed #967E62;
  border-radius: 100%;
  animation: dong linear 5s infinite;
}
.index .circle .circle2 .circle_2 .jiao .jiao_img {
  width: 2.06666667rem;
  height: 2.06666667rem;
  border: 1px solid #967E62;
  margin: 0.18rem auto 0rem;
  background: url(../images/jiao.png) center center no-repeat;
  background-size: 1.84rem auto;
  border-radius: 100%;
}
.index .circle .circle3 {
  width: 7.4rem;
  height: 7.4rem;
  border: 0.03947368rem dashed #967e62;
  border-radius: 100%;
  position: absolute;
  left: 6.3rem;
  top: 6.26rem;
}
.index .circle .circle3 .circle_3 {
  width: 7.4rem;
  height: 7.4rem;
  border: 0.03947368rem dashed rgba(0, 0, 0, 0);
  border-radius: 100%;
}
.index .dpr {
  width: 7.65333333rem;
  height: 5.45333333rem;
  background: url(../images/dpr.png) no-repeat;
  background-size: 7.65333333rem auto;
  position: absolute;
  top: 7rem;
  left: 4.5rem;
}
.index .btn {
  font-size: 0.3rem;
  color: #782110;
  position: fixed;
  bottom: 0.5rem;
  left: 45%;
  z-index: 99;
  padding-bottom: 0.3rem;
  cursor: pointer;
}
.index .btn span {
  position: absolute;
  left: 30%;
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border-left: 1px solid #782110;
  border-bottom: 1px solid #782110;
  transform: rotate(-45deg);
  margin-top: -0.2rem;
}
.index .btn span:nth-child(2) {
  top: 0.4rem;
  animation: text1 1s linear infinite;
}
.index .btn span:last-child {
  top: 0.6rem;
  animation: text2 1s linear infinite;
}
.yinle {
  width: 10rem;
  height: 16.09333333rem;
  position: absolute;
}
.yinle .yin {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 0.66666667rem;
  height: 0.66666667rem;
  background: url(../images/yinle.png) no-repeat;
  background-size: 0.66666667rem auto;
  cursor: pointer;
  animation: dong 3s linear infinite;
  animation-play-state: running;
  transition: opacity 3s linear;
  z-index: 99;
}
.about {
  width: 10rem;
  height: 16.09333333rem;
  background: url(../images/about_bg.png) no-repeat;
  background-size: 10rem auto;
  overflow: hidden;
}
.about .about_logo {
  width: 1.46666667rem;
  height: 1.24rem;
  background: url(../images/logo.png) center top no-repeat;
  background-size: 1.28rem auto;
  padding-top: 1.3rem;
  color: #782110;
  font-size: 0.2rem;
  text-align: center;
  position: absolute;
  top: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.about .meat {
  width: 6.13333333rem;
  height: 10.24rem;
  background: no-repeat;
  background-image: url(../images/about_img02.png);
  background-size: 6.13333333rem auto;
  position: absolute;
  top: 1.5rem;
  right: 0rem;
}
.about .text {
  position: absolute;
  top: 4.5rem;
  left: 0rem;
  font-size: 0.6rem;
  color: #782110;
  font-weight: bold;
  padding: 0rem 1rem;
  text-align: left;
  display: none;
}
.about .text:nth-child(3) {
  display: block;
}
.about .text p:nth-child(2) {
  margin-bottom: 2.5rem;
}
.about .text p:nth-child(3) {
  font-size: 0.3rem;
  margin-bottom: 0.1rem;
}
.about .text p:last-child {
  font-size: 0.3rem;
  text-indent: 3.8rem;
}
.about .nav {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  margin-top: 11rem;
}
.about .nav .list {
  width: 2.38666667rem;
  height: 2.38666667rem;
  border: 3px solid #9fab61;
  background-size: 2.38666667rem auto;
  position: relative;
  cursor: pointer;
}
.about .nav .list:first-child {
  box-shadow: 0px 0px 50px #eaf7af;
  background: url(../images/about_img04.png) no-repeat;
}
.about .nav .list:first-child span {
  position: absolute;
  bottom: 0.1rem;
  left: 0.1rem;
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 100%;
  background-color: #636d2e;
}
.about .nav .list:nth-child(2) {
  background: url(../images/about_img05.png) no-repeat;
}
.about .nav .list:nth-child(2) .dian {
  display: flex;
  justify-content: space-between;
  width: 0.36rem;
  height: 0.16rem;
  position: absolute;
  bottom: 0.1rem;
  left: 0.1rem;
}
.about .nav .list:nth-child(2) .dian span {
  display: block;
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 100%;
  background-color: #636d2e;
}
.about .nav .list:last-child {
  background: url(../images/about_img06.png) no-repeat;
}
.about .nav .list:last-child .dian {
  position: absolute;
  bottom: 0.26rem;
  left: 0.2rem;
}
.about .nav .list:last-child .dian span {
  display: block;
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 100%;
  background-color: #636d2e;
}
.about .nav .list:last-child .dian1 {
  display: flex;
  justify-content: space-between;
  width: 0.36rem;
  height: 0.16rem;
  position: absolute;
  bottom: 0.1rem;
  left: 0.1rem;
}
.about .nav .list:last-child .dian1 span {
  display: block;
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 100%;
  background-color: #636d2e;
}
.about .about_btn {
  position: fixed;
  bottom: 0.5rem;
  left: 50%;
  z-index: 99;
  padding-bottom: 0.3rem;
  cursor: pointer;
}
.about .about_btn span {
  position: absolute;
  left: 30%;
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border-left: 1px solid #782110;
  border-bottom: 1px solid #782110;
  transform: rotate(-45deg);
}
.about .about_btn span:first-child {
  top: 0rem;
}
.about .about_btn span:last-child {
  top: 0.2rem;
}
.footer {
  width: 10rem;
  height: 16.09333333rem;
  background: url(../images/about_bg.png) no-repeat;
  background-size: 10rem auto;
}
.footer div.bottom {
  width: 10rem;
  height: 6.12rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../images/footer_bg.png) no-repeat;
  background-size: 10rem auto;
}
.footer div.footer_meat {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5.26666667rem;
  height: 3.66666667rem;
  background: url(../images/footer_meat.png) no-repeat;
  background-size: 5.26666667rem auto;
  z-index: 10;
}
.footer div.footer_meat .qi_left {
  width: 0.30666667rem;
  height: 1.29333333rem;
  background: url(../images/qi_02.png) no-repeat;
  background-size: 0.30666667rem auto;
  position: absolute;
  top: 0rem;
  left: 1.8rem;
  opacity: 0;
  animation: qi1 2.5s linear infinite;
}
.footer div.footer_meat .qi_center {
  width: 0.49333333rem;
  height: 2.02666667rem;
  background: url(../images/qi_01.png) no-repeat;
  background-size: 0.49333333rem auto;
  position: absolute;
  top: 0.5rem;
  left: 2.3rem;
  opacity: 0;
  animation: qi2 2.5s linear infinite;
}
.footer div.footer_meat .qi_right {
  width: 0.21333333rem;
  height: 0.86666667rem;
  background: url(../images/qi_01.png) no-repeat;
  background-size: 0.21333333rem auto;
  position: absolute;
  top: 0.4rem;
  left: 3.1rem;
  opacity: 0;
  animation: qi3 2.5s linear infinite;
}
.footer div.tittle {
  font-size: 0.7rem;
  color: #782110;
  text-align: center;
  margin: 1.5rem 0rem 1rem;
}
.footer p {
  display: block;
  width: 80%;
  font-size: 0.43rem;
  color: #782110;
  margin: 0 auto;
}
.footer p:nth-child(2),
.footer p:nth-child(3) {
  text-indent: 1rem;
}
.footer p:nth-child(4) {
  margin-top: 0.5rem;
  text-indent: 6rem;
}
@keyframes dong {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes text1 {
  0% {
    top: 0.4rem;
  }
  100% {
    top: 0.5rem;
  }
}
@keyframes text2 {
  0% {
    top: 0.6rem;
  }
  100% {
    top: 0.7rem;
  }
}
@keyframes box {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  20% {
    background-color: #782110;
  }
  100% {
    background-color: #782110;
  }
}
@keyframes box1 {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: #782110;
  }
}
@keyframes box2 {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  80% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: #782110;
  }
}
@keyframes qi1 {
  0% {
    top: 0rem;
    opacity: 0;
    transform: scale(1);
  }
  15% {
    top: 0rem;
    opacity: 0;
    transform: scale(1);
  }
  60% {
    top: -0.5rem;
    opacity: 1;
  }
  100% {
    top: -1.5rem;
    opacity: 0;
    transform: scale(0.7);
  }
}
@keyframes qi2 {
  0% {
    transform: scale(1);
    top: -0.3rem;
    opacity: 0;
  }
  50% {
    top: -1rem;
    opacity: 1;
  }
  100% {
    top: -1.5rem;
    opacity: 0;
    transform: scale(0.7);
  }
}
@keyframes qi3 {
  0% {
    transform: scale(1);
    top: 0.5rem;
    opacity: 0;
  }
  25% {
    transform: scale(1);
    top: 0.5rem;
    opacity: 0;
  }
  50% {
    top: 0rem;
    opacity: 1;
  }
  100% {
    top: -0.8rem;
    opacity: 0;
  }
}
